<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709053982041-shhcvbiblj1b0vpuvbttdgj8q9fsog8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709053982041-shhcvbiblj1b0vpuvbttdgj8q9fsog8g</string>
	<key>API_KEY</key>
	<string>AIzaSyChe3Y83K916EkdI9whKrGDV9bZLkrkROk</string>
	<key>GCM_SENDER_ID</key>
	<string>709053982041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.Listok-App.Listok</string>
	<key>PROJECT_ID</key>
	<string>listok-f8f2d</string>
	<key>STORAGE_BUCKET</key>
	<string>listok-f8f2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709053982041:ios:47f0542fecc8d2cc135848</string>
</dict>
</plist>